body {
    background-color: aquamarine;
}
#subject {
    width: 250px;
    max-width: 75vw;
}
#psqft {
    max-width:  75vw;
}
.fas {
    background-image: url('./closebutton.svg');
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    padding: 6px;
    align-self: center;
    margin: 3px;
}

#calc {
   
    text-align: center;
}

.compArea {
    text-align: center;
}

.btnList {
    text-align: center;
}