body {
    background-color: aquamarine;
}
#subject {
    width: 250px;
    max-width: 70vw;
    border-radius: 5px;
}
#psqft {
    max-width:  70vw;
    margin-top: .5vh;
    border-radius: 5px;
}
.fas {
    background-image: url('./closebutton.svg');
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    padding: 6px;
    align-self: center;
    margin: 3px;
}

#calc {
    margin-top: 2vh;
    text-align: center;

}
.calculator{
    background-color: aliceblue;
    border-radius: 25px;
    padding-left: 2vw; 
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: center;
    width: 70vw;
    margin-left: 15vw;
}
.compArea {
    text-align: center;
}
.clacCompValue {
    color: white;
    margin-top: 2vh;
    background-color: rgb(5, 166, 241);
    border-radius: 10px;
}

.addHomeBtn {
    color: white;
    background-color: rgb(5, 166, 241);
    border-radius: 10px;
}

.btnList {
    text-align: center;
}